<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe App</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    
</head>

    <div class="container">
    <nav class="sidebar">
        <div class="sidebar-header">
            <h1>Recipes</h1>
          </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/authors">View Authors</a></li>
        <li><a href="/ingredients">View Ingredients</a></li>
        <li id="sortByIngredients"><a href="/">Sort by number of ingredients</a></li>
      </ul>
    </nav>
    <main>
        <header>
    <form action="/" method="GET">
      <input type="text" name="search" placeholder="Search by recipe name" value="<%= search || '' %>">
      <button type="submit">Search</button>
    </form>
</header>
<div class="sort-by-container">
    <label for="sortBy">Sort by:</label>
    <select id="sortBy">
        <option value="name">Alphabetical</option>
        <option value="skillLevel">Skill Level</option>
        <option value="numberOfIngredients">Number of Ingredients</option>
    </select>
</div>

<table border="1" id="recipeTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Number of Ingredients</th>
            <th>Skill Level</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% recipeTableHTML.forEach(recipe => { %>
        <tr data-description="<%= recipe.description %>" 
            data-ingredients="<%= (recipe.ingredients || []).join(', ') %>" 
            data-cooking-time="<%= recipe.cookingTime %>" 
            data-preparation-time="<%= recipe.preparationTime %>">
            <td><%= recipe.name %></td>
            <td><%= recipe.author %></td>
            <td><%= recipe.numberOfIngredients %></td>
            <td><%= recipe.skillLevel %></td>
            <td><button class="recipe-details-button" data-id="<%= recipe.id %>">View Details</button></td>
        </tr>
        <% }); %>
    </tbody>
</table>

<div class="pagination">
    <a href="/?page=1">« First</a>
    <% if (currentPage > 1) { %>
        <a href="/?page=<%= currentPage - 1 %>">&lsaquo; Prev</a>
    <% } %>
    <% for (let i = Math.max(1, currentPage - 2); i <= Math.min(totalPages, currentPage + 2); i++) { %>
        <a <% if (i === currentPage) { %>class="active"<% } %> href="/?page=<%= i %>"><%= i %></a>
    <% } %>
    <% if (currentPage < totalPages) { %>
        <a href="/?page=<%= currentPage + 1 %>">Next &rsaquo;</a>
    <% } %>
    <a href="/?page=<%= totalPages %>">Last »</a>
</div>


<div id="recipeModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="recipeDetails"></div>
    </div>
</div>
<script src="/scripts.js"></script>
</main>
</div>
</body>
</html>
